.about_section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  padding: 60px;
  margin-left: 10px;
}
.about_wrapper {
  position: relative;
  color: #6e6e6e;
  border: 1px solid transparent;
  border-radius: 7px;
  -webkit-box-shadow: 3px 7px 92px -12px rgb(168, 168, 175);
  -moz-box-shadow: 3px 7px 92px -12px rgb(186, 186, 199);
  box-shadow: 3px 7px 92px -12px rgb(165, 165, 170);
}
.about_description {
  padding: 50px 50px 50px 260px;
}
.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.text {
  margin: 20px;
}
.about_card {
  top: 27%;
  left: -9%;
  transform: translate(-25%, -50%);
  width: 350px;
  height: 400px;
  margin-left: 60px;
  margin-right: 10px;
  position: absolute;
  border-radius: 14px;
  background-color: #353d58;
  -webkit-box-shadow: 3px 3px 26px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 3px 26px -9px rgba(66, 68, 90, 1);
  box-shadow: 3px 3px 26px -9px rgba(66, 68, 90, 1);
}
.about_photo {
    display: block;
    margin:  40px auto;
    width: 75%;
    border: 3px dashed hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 50%;
}
.about_alias {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    letter-spacing: 1px;
}
.about_span:hover {
    color: hsl(0, 0%, 100%);

}