.intro_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  gap: 30px;
}
.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #122770;
  letter-spacing: 7px;
  font-weight: 600;
}
.intro_text {
  font-size: 5.1rem;
  /* border-bottom: 4px solid grey;
  border-image: linear-gradient(to right, #bdb3b7, #ffffff) 1; */
}
.border_line {
  border-bottom: 4px solid grey;
  border-image: linear-gradient(to right, #bdb3b7, #ffffff) 1;
}
.unvisible_text {
  display: none;
  font-size: 5.1rem;
}
.button_container {
  margin-top: 40px;
}
.button {
  border: none;
  background-color: transparent;
  font-size: 4rem;
  cursor: pointer;
  color: hsl(339, 82%, 43%);
  transform: translateY(0);
  animation: jumping 1.75s infinite ease both;
}

@keyframes jumping {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
