.intro_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}
.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #122770;
  letter-spacing: 7px;
  font-weight: 600;
}
.image_container {
  max-width: 200px;
}
.intro_image {
  width: 100%;
  /* margin-left: 40px; */
  /* animation: rotate 100s infinite both; */
}
.intro_text {
  font-size: 5.1rem;
  /* border-bottom: 4px solid grey;
  border-image: linear-gradient(to right, #bdb3b7, #ffffff) 1; */
}
.name_word {
  top: 5%;
  position: absolute;
  opacity: 0;
  animation: slide-in 5s 6s forwards;
}
.third_word {
  font-size: 6.2rem;
}
.surname_word {
  top: 53%;
  position: absolute;
  opacity: 0;
  animation: slide-in 5s 6s forwards;
}

.four_word__span {
  color: hsl(339, 82%, 43%);
  font-size: 5.6rem;
}
/* .border_line {
  border-bottom: 4px solid grey;
  border-image: linear-gradient(to right, #bdb3b7, #ffffff) 1;
} */

.button_container {
  margin-top: 80px;
}
.button {
  border: none;
  background-color: transparent;
  font-size: 4rem;
  cursor: pointer;
  color: hsl(339, 82%, 43%);
  transform: translateY(0);
  animation: jumping 1.75s infinite ease both;
}

@media (max-width: 1100px){
  .wrapper {
    gap: 10px;
  }
  .intro_image {
    width: 90%;
   /* margin-left: 0; */
  }
  .third_word, .four_word {
    font-size: 4rem;
  }
  .name_word {
    left: 34%;
    top: 10%;
  }
  .surname_word {
    top: 54%;
    left: 34%;
  }
  .four_word__span {
    font-size: 4.6rem;
  }
}
@media (max-width: 900px){
  .wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .intro_image {
    display: block;
    margin: 0 auto;
    width: 80%;
   /* margin-left: 0; */
  }
  .intro_text {
    font-size: 0;
  }
  .third_word, .four_word {
    font-size: 1.5rem;
  }
  .name_word {
    left: 6%;
    top: 80%;
  }
  .surname_word {
    top: 92%;
    left: -5%;
  }
  .four_word__span {
    font-size: 2.0rem;
  }
  .button {
    font-size: 2rem;
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;

    filter: blur(10px);
  }
  25% {
    opacity: 1;

    filter: blur(0px);
  }
  75% {
    opacity: 1;

    filter: blur(0px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);
  }
}