.wrapper {
    display: flex;
    gap: 30px;
}
.intro_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    font-size: 5.5rem;
    text-transform: uppercase;
}
.visible_span {
    display: inline-block;
}
.unvisible_span {
    display: none;
}