.app_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border: 33px solid transparent;
  border-image: linear-gradient(
      to right,
      #921c53,
      #355c8b,
      #b30e52,
      #3b506a,
      #b30e52,
      #3b506a
    )
    1;
}

@media (max-width: 900px) {
  .app_container {
    border: 15px solid transparent;
    border-image: linear-gradient(
        to right,
        #921c53,
        #355c8b,
        #b30e52,
        #3b506a,
        #b30e52,
        #3b506a
      )
      1;
  }
}
